// Students

.main.col-960-1-1
  .main-box.col-960-1-1
    - @documents.each do |object|
      - object.assets.each do |asset|
        .main-item.col-960-2-1
          = link_to asset.document_box_url.to_s, class: "link medium green", target: "_blank" do
            - if asset.document_caption.presence
              = asset.document_caption
            - else
              = t("document")
