// Students

.main.col-960-1-1
  .main-box.col-960-1-1
    .main-item.col-960-2-1
      = link_to "Ullamcorper", "#", class: "link medium left"
    .main-item.col-960-2-1
      = link_to "Justo Fusce Condimentum", "#", class: "link medium left"
    .main-item.col-960-2-1
      = link_to "Adipiscing Mattis", "#", class: "link medium left"
    .main-item.col-960-2-1
      = link_to "Ultricies", "#", class: "link medium left"
