// Tutors

.main.col-960-1-1.left
  .main-box.col-960-1-1
    .main-item.col-960-1-1
      %h1= parent.title
%hr.separator.medium
.main.col-720-1-1
  .main-box.col-720-1-1
    - objects.each do |object|
      - if object.tutor.name.presence
        .main-item.col-720-1-1
          %h3= object.tutor.name
