// Equipment

.main.col-960-1-1
  .main-box.col-960-1-1
    - @equipment_assets.each do |asset|
      .main-item.col-960-4-1
        = link_to image_tag(asset.image_box_url(:thumb)), "#{asset.image_box_url}", "data-featherlight" => "image", class: "gallery"
