// Home theme

- if object.image_box.presence
  :coffee
    bindWidths = ->
      $windowSize = $(this).width()
      $(".set-theme-#{object.slug}").css
        "background-image": "url(" + "#{object.image_box_url}" + ")"
      return
    $(document).on "turbolinks:load", ->
      bindWidths()
      Turbolinks.clearCache()
      return
    $(window).resize ->
      bindWidths()
      Turbolinks.clearCache()
      return
