:coffee
  bindWidths = ->
    $windowSize = $(this).width()
    $(".set-theme-#{object.slug}").css
      "background": "#{parent.gradient_color_one}"
      "background-image": "linear-gradient(#{parent.gradient_color_one}, #{parent.gradient_color_two})"
    return
  $(document).on 'turbolinks:load', ->
    bindWidths()
    Turbolinks.clearCache()
    return
  $(window).resize ->
    bindWidths()
    Turbolinks.clearCache()
    return
