// Index

= render "breadcrumbs"
= render "section", parent: @academy_course, object: @academy_course_section
= render "lib/components/courses/menu_aside", parent: @academy_course, objects: @academy_course_sections
