// Equipment

.partnerships-identities.col-960-1-1
  .partnerships-identities-box.col-960-1-1
    - @partnerships_identities.each do |object|
      .partnerships-identities-item
        %p= object.title
      .partnerships-identities-item
        %p Sem Aenean Purus Adipiscing
      .partnerships-identities-item
        %p Sem Aenean Purus Adipiscing
      .partnerships-identities-item
        %p Sem Aenean Purus Adipiscing
      .partnerships-identities-item
        %p Sem Aenean Purus Adipiscing
      .partnerships-identities-item
        %p Sem Aenean Purus Adipiscing
      .partnerships-identities-item
        %p Sem Aenean Purus Adipiscing
      .partnerships-identities-item
        %p Sem Aenean Purus Adipiscing
      .partnerships-identities-item
        %p Sem Aenean Purus Adipiscing
