// Copyright

- cache "copyright" do
  .center-parent
    .center-child
      .copyright
        .copyright-box
          .copyright-item
            %p.mono.tiny Copyright © #{Time.zone.today.year} Group Magensinus
