// Featured

.featured
  %ul.featured-box
    %li.featured-item
      = link_to fetch_featured_article.title, article_path(fetch_featured_article), class: "link small white-green-darker wide text-center"
