// Menu

- if fetch_secondary_urls.presence
  .menu-responsive.responsive
    %ul.menu-responsive-box.responsive
      - fetch_secondary_urls.each do |object|
        %li{ class: "menu-responsive-item #{active_class(object[:url])} responsive" }
          = link_to object[:title], object[:url], class: "link nano white-green responsive"
