// Networks

- if fetch_networks.presence
  .networks
    %h3 Segue-nos
    %hr.separator.small
    .center-parent
      .center-child
        .networks-box
          - fetch_networks.each do |object|
            .networks-item
              = link_to image_tag(object.thumb_box_url.to_s, class: "left", height: "48"), object.url, class: "link left", target: "_blank"
