// Networks

- if fetch_networks.presence
  %nav.networks
    %ul.networks-box
      - fetch_networks.each do |object|
        %li.networks-item
          = link_to image_tag(object.thumb_box_url.to_s, class: "left"), object.url, class: "link left"
