// Sitemap

- if fetch_primary_urls.presence
  .center-parent
    .center-child
      %nav.sitemap
        %ul.sitemap-box
          - fetch_primary_urls.each do |object|
            %li{ class: "sitemap-item #{active_class(object[:url])}" }
              = link_to object[:title], object[:url], class: "link mono tiny"
