// Breadcrumbs

- content_for :breadcrumbs do
  .breadcrumbs
    %ul.breadcrumbs-box
      %li.breadcrumbs-item
        = link_to "Voltar", categories_path, class: "link mono tiny", style: "color: #{object.font_color_one}"
