// Courses

.billboard
  .billboard-box
    .billboard-item.top
      - if object.title.presence
        %h1.large= object.title
    .billboard-item.middle
      - if object.description.presence
        %p.small= object.description
    .billboard-item.bottom
      = link_to t("read_more"), course_sections_path(object), class: "button tiny left"
