// Newsletter

.main.col-960-1-1
  .main-box.col-960-1-1
    - if object.title.presence
      .main-item.col-960-1-1
        %h1= object.title
    - if object.description.presence
      .main-item.col-960-1-1
        - if flash[:success]
          %p.medium= flash[:success]
        - elsif flash[:failure]
          %p.medium= flash[:failure]
        - else
          %p.medium= object.description
%hr.separator.large
