// About

.main.col-960-1-1
  .main-box.col-960-1-1
    - if object.title.presence
      .main-item.col-960-1-1
        %h1= object.title
    - if object.description.presence
      .main-item.col-960-1-1
        .trix.medium
          = safe_join([object.description.html_safe])
    - if object.body.presence
      %hr.separator.medium
      .main-item.col-960-1-1
        .trix
          = safe_join([object.body.html_safe])
